{{ if eq .chezmoi.os "darwin" }}

return {
    color_scheme = "Dracula (Official)",
    tab_bar_at_bottom = false,
    use_fancy_tab_bar = false,
    window_decorations = "RESIZE",
    font_size = 13.0,
    default_prog = {"/opt/homebrew/bin/fish", "-l", "-c", "/opt/homebrew/bin/zellij attach --index 0 --create" },
}

{{ end }}
